<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>json-reader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74AB9C042067E1C400B6A027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74AB9C1B2067E1C400B6A027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74AB9C262067E1C400B6A027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
